
<footer fxLayout="column" class = "modal-footer"> <!-- Footer -->
  <app-social-media-links></app-social-media-links>

  <p>Contact Department of Psychology
  <p> Brock University</p>
  <p>1812 Sir Isaac Brock Way</p>

  <p> St. Catharines, Ontario</p>

  <p>Canada L2S 3A1</p>

    <a
      id="hodson-lab"
      title="Hodson Lab"
      href="{{this.hodsonLab}}"
      rel="nofollow noopener"
      target="_blank"
      i18n="The Hodson Lab Link">
      Hodson Lab http://www.hodsonlab.com/
    </a>

  <p>©2021 by Elvira Prusaczyk.</p>
</footer>
