
<a
  href="{{this.brockEmail}}"
  title="Brock Email"
  id="brock-email"
  target="_blank"
  i18n="The Brock Email Link"
>
  ep15je@brocku.ca
</a>

<br>
<a
  title="OrcId Connecting Research and Researchers"
  href="{{this.orcid}}"
  target="_blank"
  i18n="The OrcId Link"
>
  <img id = "orcid-logo" src="//orcid.org/static/release-1.295.16/img/orcid-logo.svg">
</a>

<a
  title="Elvira's Twitter"
  href="{{this.twitter}}">
  <img id="twitter-logo" src="../../../assets/images/TwitterLogo.png">
</a>
<a
  title="Google Scholar"
  href="{{this.googleScholar}}"
  i18n="The Google Scholar Link"
>
  <img id="google-scholar-logo" src="../../../assets/images/GoogleScholar.png">
</a>


<!--<a
  id="hodson-lab"
  title="Hodson Lab"
  href="{{this.hodsonLab}}"
  rel="nofollow noopener"
  target="_blank"
  i18n="The Hodson Lab Link"
>
  Hodson Lab
</a>-->


