<p>
  ABOUT ME
  I will soon be on the market for a postdoctoral fellowship, with plans to apply for SSHRC postdoctoral funding in the
  Fall 2021 term (this grant can be held in or outside of Canada).


  Currently, I am a PhD student under Dr. Gordon Hodson's supervision, a world-renowned expert in prejudice and
  discrimination. My PhD research focuses on the role of pornography in maintaining oppression against women,
  considering the impact on both female and male consumers.


  I completed my Master's degree also alongside the supervision of Dr. Hodson.
  My M.A. thesis explored women's reactions to jokes that aggress against women and belittle their intelligence and
  worth. Specifically, I examined when a sexist humour context facilitates women's acceptance of discrimination against
  their ingroup, responses that defend rather than challenge sexism in society.
  My Master's thesis was awarded the CPA Certificate of Academic Excellence for best Master's thesis and the Graduate
  Research Writing Award for Best M.A. Thesis in the Faculty of Social Sciences at Brock University. Upon completing my
  Master's degree I also received the Distinguished Graduate Student Award (for highest overall average).

  ​
  I earned my B.A. in Psychology at Ryerson University (Toronto, Ontario, Canada) under the supervision of Dr. Becky
  Choma, an expert in political ideology and prejudice and discrimination. My undergraduate honours thesis focused on
  the roles of self-objectification and system justifying beliefs among women of colour who support or engage in skin
  bleaching behaviours. My undergraduate honours thesis was awarded the CPA Certificate of Academic Excellence for best
  undergraduate thesis.

  ​
  I have been funded by several Ontario Women's Health Scholar Awards, several Ontario Graduate Scholarships, the Joseph
  Armand Bombardier Canada Graduate Scholarship, the Bluma Appel Graduate Entrance Scholarship for Excellence in Social
  Sciences, and several NSERC undergraduate student research awards.


  I enjoy painting, hiking, listening to music, connecting with loved ones, and pampering my American Bulldog,
  Dallas.
</p>
