<p>
  Published Chapters

  ​

  Hodson, G., & Prusaczyk, E. (2021). Cavalier humor beliefs: Dismissing jokes as “just jokes” facilitates prejudice and
  internalizes negativity among targets. In Strick, M., & Ford, T. E. (Eds.), The Social Psychology of Humor. Oxon, UK:
  Routledge.

  W., Malcolm, E., Fisher., & Prusaczyk, E. (in press). Multivocational by choice: What difference does it make? In
  Watson, J., & Santos, N (Eds). Tentmakers. Oregon, OR, USA: Pickwick.

  ​

  Published Journal Articles

  ​

  Earle, M.*, Prusaczyk, E.*, Choma, B, L., & Calogero, R. (2021). Compliance with COVID-19 safety measures: A test of
  an objectification theory model. Body Image, 37, 6-13.
  *Shared first authourship

  Prusaczyk, E., Earle, M., & Hodson, G. (2021). A brief nudge or education intervention delivered online can increase
  willingness to order a mushroom-beef burger. Food Quality and Preference, 87, 104045.

  Prusaczyk, E., & Hodson, G. (2020). “To the moon, Alice”: Cavalier humor beliefs and women’s reactions to aggressive
  and belittling sexist jokes. Journal of Experimental Social Psychology, 88, 103973.

  Earle, M., Hoffarth, R., Prusaczyk, E., MacInnis, C., & Hodson, G. (2020). A multilevel analysis of LGBT rights
  support across 77 countries: The role of primary and secondary contact and country laws. British Journal of Social
  Psychology.

  Prusaczyk, E., & Hodson, G. (2019). The roles of political conservatism and binary gender beliefs in predicting
  prejudices toward gay men and people who are transgender. Sex Roles, 82, 438-446.

  Prusaczyk, E., & Hodson, G. (2019). Re-examining left-right differences in abortion opposition: The roles of sexism
  and shared reality. Testing, Psychometrics, Methodology in Applied Psychology, 26, 431-445.

  Rothwell, V., Hodson, G., & Prusaczyk, E. (2019). Why pillory Hillary? Testing the endemic sexism hypothesis regarding
  the 2016 U.S. election. Personality and Individual Differences, 138, 106-108.

  Prusaczyk, E., & Hodson, G. (2018). Left-right differences in abortion policy support in America: Clarifying the role
  of sex and sexism in a nationally representative 2016 sample. Personality and Individual Differences, 127, 22-25.

  Prusaczyk, E., & Choma, B, L. (2018). Skin tone surveillance, depression, and life satisfaction in Indian women:
  Colour-blind racial ideology as a moderator. Body Image, 27, 179-186.

  Choma, B. L., & Prusaczyk, E. (2018). The effects of system justifying beliefs on skin-tone surveillance, skin-color
  dissatisfaction, and skin-bleaching behavior. Psychology of Women Quarterly, 42, 162-177.</p>
