<p>Research Focus
  ​
  Broadly, my research addresses how lower status and higher status group members' beliefs, attitudes, and behaviors
  uphold systems of oppression. Likewise, I am interested in people's resistance to hierarchy, examining relevant
  predictors and processes.

  Specifically, my passion lies in understanding sexism. Besides the research conducted for my theses, I have led
  various research projects on sexism-related topics. For instance, in another stream of research, I examine when and
  why men and women oppose abortion. I also conduct research examining prejudice against gender non-conforming people,
  including personal and country-level predictors of opposition toward people with diverse genders and sexualities.
  Further, I study gender differences in sexual objectification processes and the impact of media (e.g., video games,
  advertising, pornography) on men and women's attitudes and behaviors toward women. As part of a broader social justice
  focus, I have also shaped interventions to mitigate the climate change emergency.
  ​
  Ultimately, my goal is to understand intergroup relations and use social psychological theories and empirical findings
  to test interventions that can reduce prejudice and discrimination. In this way, I use theory and data to solve
  real-world problems related to social justice.

  Research Skills and Practices
  ​
  My research spans cross-sectional, experimental, longitudinal, and multilevel contexts. In these contexts, I have
  expertise in research conceptualization, study design, survey construction, data collection (online and in-person),
  data cleaning, data analysis and interpretation, and reporting/visualizing results. I am proficient with SPSS, AMOS,
  Mplus, LIWC, Qualtrics, Amazon Mechanical Turk, and CloudResearch. I have experience with R and HLM.

  I am a peer reviewer for research manuscripts submitted to feminist and other social psychology journals, including
  Psychology of Women Quarterly and Sex Roles.
  ​
  I value transparency and Open Science. As a strong proponent of preregistration, data-sharing, and collaboration, I
  regularly engage in these practices.

  Visit my Google Scholar or ORCID ID pages to learn more about my research focus, research skills, and scientific
  practices.</p>
