#profile-pic {
  position: relative;
  top:10px;
  width: 225px;
  height: 300px;
  /*border: 1px solid var(--background-card-default);*/
}

#my-website,
#my-blog{
  height: 40px;
  width: 100px;
  margin-right:10px;

}
