:host {
  font-family: PMingLiU-ExtB, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
}

.spacer {
  flex: 25;
}

.main-content {
  position: relative;
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 1000px;
  max-height: 1000px;
  flex-direction: column;
  align-items: center;
}

.footer {
  position: fixed;
  padding-bottom: 10px;
  bottom: 0px;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {

  .main-content > *:not(.circle-link),
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }
}

@media screen and (max-width: 575px) {

}
