:host {
  font-family: PMingLiU-ExtB, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #280000;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
  padding-top: 1000px;
}

.spacer {
  flex: 25;
}

.toolbar {
  position: fixed;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  height: 25px;
  display: flex;
  background-color: #51007c;
  color: #f7f3df;
}

.main-content {
  position: relative;
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

.footer {
  position: fixed;
  padding-bottom: 10px;
  bottom: 0px;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {

  .card-container > *:not(.circle-link),
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }
}

@media screen and (max-width: 575px) {

}
