<div class="mat-form-field-flex" role="main">

  <mat-sidenav-container>

    <mat-sidenav #sidenav role="navigation">

      <app-profile></app-profile>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar>
        <div>

          <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>

        </div>
        <div><a routerLink="/">LOGO</a></div>

      </mat-toolbar>

      <main>
        <app-header></app-header>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<button mat-icon-button (click)="sidenav.toggle()">
  <mat-icon>menu</mat-icon>
</button>

