<p>Conferences
  Prusaczyk, E., Earle, M., Choma, B. L., & Calogero, R. (2021, February). Compliance with COVID-19 Safety Precautions:
  A test of an objectification theory model. Poster presented at the annual meeting of the Society for Personality and
  Social Psychology (SPSP), virtual conference.


  Prusaczyk, E., & Hodson, G. (2020, Feb 29). The Link between Conservatism and Anti-Abortion Attitudes: A Program of
  Research Examining Potential Mediators. Poster presented at the Annual Convention of the Society for Personality and
  Social Psychology, New Orleans, Louisiana, United States.


  Prusaczyk, E., & Hodson, G. (2018, July 26). Women’s maintenance of sexism vis-à-vis their reactions to sexist humour.
  In C. Drolet (Chair), New research on system-justifying beliefs among members of disadvantaged groups. Symposium
  presented at the meeting of the International Society for Justice Research, Atlanta, Georgia, USA.


  Prusaczyk, E., & Choma, B. L. (2017, June 8). Skin tone surveillance and negative self-esteem: The influence of
  colour-blind racial ideology. Poster presented at the annual meeting of the Canadian Psychological Association,
  Toronto, ON, Canada.


  Malivoire, B. L., Koerner, N., Prusaczyk, E., Jagtap, S. (2017, June). Word choice in written exposure for generalized
  anxiety disorder reflects emotional and cognitive processes. Talk presented at the annual meeting of the Canadian
  Psychological Association, Toronto, ON, Canada.


  Prusaczyk, E., & Hodson, G. (2017, April 11). “Relax sister, it’s just a joke:” Women’s internalization (versus
  rejection) of sexist humour. Talk presented at the 12th Annual Mapping the New Knowledges Graduate Student Research
  Conference at Brock University, St. Catharines, ON, Canada.


  Koerner, N., & Prusaczyk, E. (2016, August 29). Development and initial testing of a cognitively-enhanced written
  exposure procedure for Generalized Anxiety Disorder. In N. Koerner (Chair), New developments in the
  cognitive-behavioural conceptualization and treatment of Generalized Anxiety Disorder. Symposium presented at the
  meeting of the European Association for Behavioural and Cognitive Therapies, Stockholm, Sweden.


  Choma, B. L., & Prusaczyk, E. (2016, July 23). Self-objectification, skin colour dissatisfaction and skin bleaching:
  The moderating role of belief in a just world. Oral presentation presented at the International Social for Justice
  Research conference, Canterbury, UK.


  Prusaczyk, E., Kusek, A., Pawluk, E., Linett, A., Taillefer, S., & Koerner, N. (2016, May 25). Emotional intensity and
  valence of autobiographical memory in individuals with probable generalized anxiety disorder. Poster presented at the
  meeting of the Association for Psychological Science, Chicago, Illinois, USA.


  Prusaczyk, E., & Choma, B. L. (2015, July 28). Self-objectification, skin colour dissatisfaction, and skin bleaching:
  The palliative and legitimating effects of system justifying beliefs. Paper presented at the International Society for
  the Study of Individual Differences Conference, London, ON, Canada.


  Prusaczyk, E., & Choma, L. B. (2015, May 8). “Fair and Lovely:” Self-objectification, skin tone surveillance, and skin
  bleaching. Talk presented at the Undergraduate Thesis Conference at Western University, London, ON, Canada.


  Marquis, A., Elshiekh, A., Lyons, K., Prusaczyk, E., & Moulson, M. (2014, Nov). The other race effect within biracial
  and monoracial infants. Poster presented at the Psychology Graduate Students’ Association Research Symposium, Toronto,
  ON.</p>
