<p>Jan 2021 – April 2021

  PSYC 3P33: Intergroup Behaviour
  Teaching assistant to Instructor Scott Neufeld

  Provided a guest lecture

  Facilitated group discussions on weekly basis

  Graded and provided extensive feedback on written work


  Sept 2020 – Dec 2020

  PSYC 3P51: Health Psychology
  Teaching assistant to Professor Cameron Muir

  Graded and provided extensive feedback on written work and presentations


  Sept 2020 – Dec 2020

  PSYC 4P71: Psychology of Prejudice and Discrimination
  Teaching assistant to Professor Gordon Hodson

  Facilitated group discussions on weekly basis

  Graded and provided extensive feedback on written work and presentations


  Jan 2020 – April 2020

  PSYC 2P30: Fundamentals of Social Psychology
  Teaching assistant to Professor Gordon Hodson

  Graded and provided extensive feedback on written work


  Sept 2019 – Dec 2019

  PSYC 4P18: Close Relationships
  Teaching assistant to Professor Sabrina Thai

  Facilitated group discussions on weekly basis

  Graded and provided extensive feedback on written work


  Jan 2019 – April 2019

  PSYC 3P80: Psychology of Interpersonal Behaviour
  Teaching assistant to Professor Sabrina Thai

  Facilitated group discussions on weekly basis

  Graded and provided extensive feedback on written work


  Sept 2018 – April 2019

  PSYC 5F01: Statistics and Research Methods (Graduate level)
  Teaching assistant to Professor Elizabeth Shulman

  Facilitated labs (e.g., on linear regression, non-parametric analyses, etc.)

  Graded and provided extensive feedback on statistical labs


  Jan 2018 – April 2018

  PSYC 2P30: Fundamentals of Social Psychology
  Teaching assistant to Professor Gordon Hodson

  Graded and provided extensive feedback on written work


  Sept 2017 – Dec 2017

  PSYC 3P30: Critical Thinking in Psychology
  Teaching assistant to Professor Cameron Muir

  Facilitated group discussions on weekly basis

  Graded and provided extensive feedback on written work and presentations


  Jan 2017 – April 2017

  PSYC 2P25: Personality and Individual Differences
  Teaching assistant to Instructor Kerri Michalica

  Facilitated group discussions on weekly basis

  Graded and provided extensive feedback on written work


  Sept 2016 – Dec 2016

  PSYC 2P30: Fundamentals of Social Psychology
  Teaching assistant to Instructor Malvina Skorska

  Graded and provided extensive feedback on written work</p>
