<p>
  Elvira Prusaczyk
  RESEARCH SCIENTIST | WRITER | PHD CANDIDATE
  Welcome to my website! I am a PhD candidate currently completing my degree in Social Psychology at Brock University,
  St. Catharines, Ontario, Canada.
  I am proficient in research design, data analysis and interpretation, and scientific dissemination. As an intergroup
  researcher, I have expertise in sexism, including intersections related to race, sexual orientation, and gender
  expression.
  To learn more about me, click the "Read More" button.
  While you are here, check out my blog below!
</p>
