.main-content-profile {
background-image: url(../../assets/images/cover.jpg);
}

.profile {
  position: fixed;
  width: 400px;
  height: 1000px;
  display: flex;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
  top:0px;
  left: 0px;
  background-color: var(--background-secondary);
  fill-opacity: 100%;
}

.profile-pic {

  position: relative;
  width: 275px;
  height: 375px;
  border: 1px solid var(--background-card-default);
  background-color: #2e4125;
}
