/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");

:root {
  /* Colors */
  --background-default: #ffffff;
  --background-secondary: #395d3d;

  --background-card-default: #2e4125;

  /* Shadows */
  --background-tertiary-shadow: 0 1px 3px 0 rgba(92, 125, 153, 0.5);

  /* Fonts */
  --h1-size: 4rem;
  --h1-weight: 1;
  --h1-spacing: 0px;

  --h2-size: 3rem;
  --h2-weight: 1;
  --h2-spacing: 0px;

  --p1-size: 2rem;
  --p1-weight: 10;
  --p1-spacing: 0px;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

body {
  background: var(--background-default);
}

h1 {
  font-size: var(--h1-size);
  font-weight: var(--h1-weight);
  letter-spacing: var(--h1-spacing);
}

h2 {
  font-size: var(--h2-size);
  font-weight: var(--h2-weight);
  letter-spacing: var(--h2-spacing);
  text-decoration: underline;
}

p {
  font-size: var(--p1-size);
  font-weight: var(--p1-weight);
  letter-spacing: var(--p1-spacing);
}
