/* You can add global styles to this file, and also import other style files */
/*@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");*/
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

:root {
  /* Background Colors */
  --background-default: #ffffff;
  --background-secondary: #fdfdfd;
  --background-card-default: #2e4125;
  --background-default-toolbar: #31623a;

  /* Shadows */
  --background-tertiary-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);

  /* Fonts */
  --h1-size: 3.5rem;
  --h1-weight: 500;
  --h1-spacing: 1px;

  --h2-size: 1.5rem;

  --p1-size: 1.7rem;
  --p1-weight: 300;
  --p1-spacing: 0px;

  --p2-size: 1.1rem;
  --p2-weight: 300;
  --p2-spacing: 0px;

  --a-font-size: 1.6rem;
  --a-hover: #4678f6;
}

html,
body {
  background: var(--background-default);

  margin: 0;
  padding: 0;
  box-shadow: black;
  border-color: var(--background-tertiary-shadow);
}

a:hover {
  color: var(--a-hover);
}

h1,
h2 {
  font-size: var(--h1-size);
  font-weight: var(--h1-weight);
  letter-spacing: var(--h1-spacing);
  margin: 8px 0;
  text-shadow: #31623a var(--background-tertiary-shadow);
}

h2 {
  font-size: var(--h2-size);
  /*text-decoration: underline;*/
}

a,
p {
  font-size: var(--p1-size);
  font-weight: var(--p1-weight);
  letter-spacing: var(--p1-spacing);
}
